.App{
  position:relative;
  height: 100vh;
  overflow: auto;
  width: 100vw;
}

input {
  outline:none;
  border:none;
}

.main-wrapper{
  position: absolute;
  width: 357px;
  /*top: 50%;*/
  left: 50%;
  -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%) ;
          /*-webkit-transform: translateX(-50%) translateY(-50%);
              -moz-transform: translateX(-50%) translateY(-50%);
              -ms-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);*/
}

.input-fields {
  height: 17px;
  width: 357px;
  color: #000000;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  padding-bottom: 2.5px;
  border-bottom: 1px solid #000000;
}

.input-wrapper {
  margin-top: 24.5px;
}

.component-container {
  margin-bottom: 40px;
}
