.side-pic{
  position: absolute;
  right: 10px;
}

.error{
  top: 10px;
  width: 20px;
  height: 20px;
}

.tick{
  top: 15px;
  height:9.5px;
  width: 14.03px;
}

.form-text-error {
  	height: 12px;
    width: 333px;
    color: #EE0000;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    margin-top: 5px;
    float: left;
}

.validation-error {
  border-color: #EE0000 !important;
}

.form-text-error-red{
  color: #EE0000 !important;
}
